/*HEADER*/
.header {
	padding: 40px 20px;
}

.header__title {
	font-size: 24px;
	margin-bottom: 5px;
	text-transform: uppercase;
	line-height: 30px;
}

.header__specialization {
	font-size: 16px;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.header__photo {
	max-width: 100%;
	width: 100%;
}

.header__description {
	max-width: 80%;
	margin: 20px auto;
	text-align: center;
}

.header__sign-up {
	border: none;
	background: black;
	color: white;
	width: 100%;
	height: 30px;
}

/*ABOUT*/
.about {
	overflow: hidden;
	padding: 40px 0 20px 20px;
}

.about__title {
	font-size: 24px;
	text-transform: uppercase;
}

.about__wrap {
	display: flex;
	gap: 10px;
}

.about__items {
	flex: 1;
	width: 100%;
	min-width: 180px;
	padding: 15px 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.about__item {
	display: flex;
	gap: 10px;
}

.about__item:before {
	content: '';
	background-image: url("../assets/icons/arrow.svg");
	display: block;
	width: 15px;
	height: 15px;
	transform: rotate(90deg);
	flex-shrink: 0;
}

.about__photo {
	object-fit: cover;
	object-position: right;
	width: 100%;
	max-width: 300px;
}

/*PORTFOLIO*/
.portfolio {
	padding: 20px;
	overflow: hidden;
}

.portfolio__title {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.portfolio__items {
	display: grid;
	width: 100%;
	max-width: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5px;
}

.portfolio__item {
	display: flex;
	width: 100%;
}

.portfolio__photo {
	object-fit: cover;
	width: 100%;
	min-height: 200px;
}

/*SERVICES*/
.services {
	padding: 20px;
	overflow: hidden;
}

.services__title {
	font-size: 24px;
	text-transform: uppercase;
}
