body {
	background: #fcf1e9;
	color: #69230b;
}

/*HEADER*/
.header {
	box-sizing: border-box;
	padding: 40px 20px;
	max-width: 600px;
	margin: 0 auto;
}

.header__title {
	font-size: 24px;
	margin-bottom: 5px;
	text-transform: uppercase;
	line-height: 30px;
	font-family: "Julius Sans One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.header__specialization {
	font-size: 16px;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: "Philosopher", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.header__photo {
	max-width: 100%;
	width: 100%;
}

.header__description {
	max-width: 80%;
	margin: 20px auto;
	text-align: center;
	font-family: "Philosopher", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.header__sign-up {
	border: none;
	background: #69230b;
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__link {
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-family: "Philosopher", sans-serif;
	font-weight: 400;
	font-style: normal;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	max-width: 600px;
	margin: 0 auto;
	box-sizing: border-box;
}

/*ABOUT*/
.about {
	overflow: hidden;
	padding: 40px 0 40px 20px;
}

.about__title {
	font-size: 24px;
	text-transform: uppercase;
	font-family: "Julius Sans One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.about__wrap {
	display: flex;
	gap: 10px;
	padding-top: 15px;
}

.about__items {
	flex: 1;
	width: 100%;
	min-width: 194px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.about__item {
	display: flex;
	gap: 10px;
	line-height: 20px;
	font-family: "Philosopher", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.about__item:before {
	content: '';
	background-image: url("../assets/icons/flower.svg");
	display: block;
	width: 15px;
	height: 15px;
	flex-shrink: 0;
}

.about__photo {
	object-fit: contain;
	object-position: center;
	max-width: 300px;
	max-height: 395px;
}

/*PORTFOLIO*/
.portfolio {
	padding: 40px 20px;
	overflow: hidden;
}

.portfolio__title {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-family: "Julius Sans One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.portfolio__items {
	display: grid;
	width: 100%;
	max-width: 100%;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 5px;
}

.portfolio__item {
	display: flex;
	width: 100%;
}

.portfolio__photo {
	object-fit: cover;
	width: 100%;
	min-height: 200px;
}

/*PRICE*/
.price {
	padding: 40px 20px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.price__title {
	font-size: 24px;
	text-transform: uppercase;
	font-family: "Julius Sans One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.price__items {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.price__item {
	border: 1px solid black;
	padding: 10px;
	display: flex;
	gap: 5px;
	font-family: "Philosopher", sans-serif;
	font-weight: 400;
	font-style: normal;
	line-height: 20px;
}

.price__count {
	color: #69230b;
}

.price__item-wrap {
	flex: 1;
}

.price__item-title {
	margin-bottom: 5px;
	text-transform: uppercase;
}

.price__item-description {
	margin-bottom: 5px;
}

.price__cost {
	display: flex;
	justify-content: end;
	color: black;
}

.price__sign-up {
	border: none;
	background: #69230b;
	width: 100%;
	height: 40px;
}

.price__link {
	text-decoration: none;
	color: white;
	font-size: 16px;
	font-family: "Philosopher", sans-serif;
	font-weight: 400;
	font-style: normal;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/*FOOTER*/
.footer {
	box-sizing: border-box;
	margin: 0 auto;
	padding: 40px 20px;
	overflow: hidden;
	max-width: 600px;
}

.footer__title {
	font-size: 24px;
	text-transform: uppercase;
	margin-bottom: 20px;
	font-family: "Julius Sans One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.footer__items {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.footer__item {
	display: flex;
	justify-content: center;
	padding: 10px;
	border-bottom: 1px solid black;
	border-top: 1px solid black;
}

.footer__link {
	text-decoration: none;
	color: black;
	display: block;
	width: 100%;
	text-align: center;
	font-family: "Julius Sans One", sans-serif;
	font-weight: 400;
	font-style: normal;
}

@media screen and (min-width: 500px) {
	.header__sign-up, .price__sign-up {
		height: 50px;
	}

	.header__link, .price__link {
		font-size: 18px;
	}

	.about__wrap {
		gap: 30px;
	}
}
